body
{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;

}

.header
{
    background-image: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url(/images/Rectangle\ 1.png);

    width: 100%;
    min-height: 100vh;

}

.header .full-width
{
    position: absolute;
    margin-left: 160px;
    margin-top: 150px;

}

.header .full-width h1
{
    font-family: sans-serif;
    font-size: 53px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.6px;
    color: white;
}

.header .full-width p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 350px;
    letter-spacing: 0.6px;
    color: white;
}

.header .full-width a
{
    display: inline-block;
    margin-top: 25px;
    margin-left: 2px;
    padding: 12px 14px;
    background-color: #EF233C;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;

}

#sec1
{
    background-color: #ffffff;
    padding: 80px 100px 100px 100px;
}

.info1
{
    display: flex;
    margin: 90px 0;
    justify-content: space-evenly;
}

.info1 .text
{
    box-sizing: border-box;
    width: 480px;
    height: 460px;
}

.info1 .text h1
{
    margin-top: 60px;
    font-size: 40px;
    font-family: sans-serif;
}

.info1 .text .para
{
    margin-top: 14px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.info1 .text a
{
    margin-top: 16px;
    font-size: 18px;
    color: white;
    padding: 12px 14px;
    display: inline-block;
    text-decoration: none;
    background-color: tomato;
    border-radius: 8px;
    font-family: sans-serif;
}

.info1 .img
{
    width: 456px;
    height: 460px;
    align-items: left;
}

#sec2
{
    margin-top: 10px;
}

#sec2 .donate h1
{
    width: 400px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 0 auto;
}

#sec2 .donate p
{
    width: 660px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 12px auto 0;

}

#sec3 .main
{
    margin: 30px 168px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#sec3 .main .child
{
    width: 460px;
    height: 220px;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 25px;
    background-color: #FEF4F5;
    border-radius: 10px;

}


#sec3 .main .child .img
{

    padding: 43px 20px 0;
}

#sec3 .main .child .text
{

    width: 290px;
    height: 140px;
    margin: auto 7px;
}

#sec3 .main .child .text h1
{
    font-family: inter, sans-serif;
    font-size: 20px;
    color: #121212;
}

#sec3 .main .child .text p
{
    font-family: poppine, sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 6px;
}